.tooltip-overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-year,
.tooltip-value {
    font-weight: bold;
}

.button {
    transition: border 0.2s ease;
  }

.button:hover {
    border: 1px solid black;
    cursor: pointer;
  }